<div>
    @*<cg-client-address data-bind="visible: isAuthenticated()"></cg-client-address>*@
    <div data-bind="if: context().identity.isAuthenticated && router.componentName()">
        <div data-bind="component: { name: router.componentName }"></div>
    </div>
    @*<script src="~/Scripts/leaflet-0.7.3.js"></script>
    <script>
        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map('map1').setView([51.505, -0.09], 13);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // add a marker in the given location, attach some popup content to it and open the popup
        L.marker([51.5, -0.09]).addTo(map)
            .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
            .openPopup();
    </script>*@
</div>

