<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=.\sqlexpress;Initial Catalog=OsmData;Integrated Security=True" name="OSM" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
